* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 250px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.contenedor img {
  width: 150px;
  height: 150px;
  margin-bottom: 80px;
}

button.btn.btn-primary {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #6a6a6a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.btn.btn-primary:hover {
  background-color: #34495E;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.loading-spinner {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 5px;
        color: #fff;
      }

      .loading-spinner.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .loading-spinner .spinner {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-top: 4px solid #fff;
        border-right: 4px solid transparent;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }