<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asistencia</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class='mt-3 text-center'>
        <h1>Sistema de asistencia</h1>
    </div>
    <div class="row text-center">
        <div class="col">
            <h2>Asistencia de hoy</h2>
            <a href="/start">
                <button type='submit' class='btn btn-primary'>Toma de asistencia</button>
            </a>
        </div>
    </div>
</body>
</html>
