<div class="row text-center">
  <div class="col">
    <h2>Asistencia para aula</h2>
    <form action="/search_student_aula" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="codigo_alumno" placeholder="Ingrese el código del alumno">
      </div>
      <button type="submit" class="btn btn-primary">Buscar alumno</button>
    </form>
    <a href="/start/aula">
      <button type="submit" class="btn btn-primary">Toma de asistencia</button>
    </a>
  </div>
</div>

{% if usuario %}
  <h1>Detalles del Usuario</h1>
  <p>Código de Alumno: {{ usuario.codigo_alumno }}</p>
  <p>Nombre: {{ usuario.nombre }}</p>
  <p>Ciclo Actual: {{ usuario.ciclo_academico }}</p>
  <p>Fecha de ingreso: {{ usuario.fecha_ingreso }}</p>

  <h1>Asistencia de Aula</h1>
  {% if asistencia_aula %}
    <p>Fecha de registro: {{ asistencia_aula[-1].fecha }}</p>
    <p>Hora de registro: {{ asistencia_aula[-1].hora }}</p>
  {% else %}
    <p>No se encontraron registros de asistencia de aula.</p>
  {% endif %}

  <h1>Datos del Sistema</h1>
  {% for registro in registro_rostro %}
    <p>Fecha de registro de rostro: {{ registro.fecha_registro }}</p>
  {% endfor %}

{% else %}
  <p>No se encontraron resultados.</p>
{% endif %}


