<!DOCTYPE html>
<html>
<head>
  <title>Asistencia para aula</title>
  <link rel="stylesheet" href="/static/css/styles_attendance.css">
</head>
<body>
  <div class="row text-center">
    <div class="col">
      <h2>Asistencia para aula</h2>
      <form method="post" action="/start_aula">
        <div class="form-group">
          <label for="section_name">Seleccione una sección:</label>
          <select class="form-control" id="section_name" name="section_name">
            {% for seccion in secciones %}
              <option value="{{ seccion.nombre_seccion }}">{{ seccion.nombre_seccion }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Tomar asistencia</button>
      </form>
    </div>
  </div>
</body>
</html>

