<div class="row text-center">
  <div class="col">
    <h2>Asistencia para laboratorio</h2>
    <form action="/search_student_laboratorio" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="codigo_alumno" placeholder="Ingrese el código del alumno">
      </div>
      <button type="submit" class="btn btn-primary">Buscar alumno</button>
    </form>

    <form action="/start/laboratorio" method="POST">
      <label for="numero_cubiculo">Número de Cubículo:</label>
      <input type="text" name="numero_cubiculo" id="numero_cubiculo" required>
      <button type="submit" class="btn btn-primary">Toma de asistencia</button>
    </form>

  </div>
</div>

{% if usuario %}
<div id="resultado-busqueda">
  <ul>
    <li>
      <strong>Numero de cubiculo:</strong> {{ asistencia_laboratorio.numero_cubiculo }}<br>
      <strong>Código:</strong> {{ usuario.codigo_alumno }}<br>
      <strong>Nombre:</strong> {{ usuario.nombre }}<br>
      <strong>Fecha de ingreso:</strong> {{ usuario.fecha_ingreso }}<br>
      <strong>Ciclo Académico Actual:</strong> {{ usuario.ciclo_academico }}<br>
      <strong>Fecha de última actualización de foto:</strong> {{ usuario.ultima_actualizacion_foto }}<br>
    </li>
  </ul>
</div>
{% elif no_results %}
<p>No se encontraron resultados.</p>
{% endif %}

