<!DOCTYPE html>
<html>
  <head>
    <title>Main Web</title>
    <link rel="stylesheet" type="text/css" href="static/main/css/style.css">
  </head>
  <body>
    <!--<div class="imagen-superior">
    </div>-->
    <div class="container">

        <div class="contenedor">
          <div class="imagen">
            <img src="/static/main/images/image1.png" alt="Imagen 1">
          </div>
          <button id="panel-adm-btn" class="btn btn-primary">Administrador del sistema</button>
        </div>
        <div class="contenedor">
          <div class="imagen">
            <img src="/static/main/images/image2.png" alt="Imagen 2">
          </div>
          <button id="panel-padm-btn" class="btn btn-primary">Personal Administrativo</button>
        </div>
        <div class="contenedor">
          <div class="imagen">
            <img src="/static/main/images/image3.png" alt="Imagen 3">
          </div>
          <button id="panel-docente-btn" class="btn btn-primary">Docente</button>
        </div>
      </div>
        <div id="loading-spinner" class="loading-spinner">
          <div class="spinner"></div>
          <span>Cargando...</span>
        </div>
    <script src="static/main/js/script.js"></script>
  </body>
</html>