<!DOCTYPE html>
<html>
<head>
  <title>Busqueda de alumno</title>
  <link rel="stylesheet" href="/static/css/style_busqueda.css">
</head>
<body>
  <div class="row">
    <div class="col">
      <h2>Busqueda de alumno</h2>
      <form id="student-search-form" action="" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="codigo_alumno" name="codigo_alumno" placeholder="Ingrese el código del alumno">

          <select id="searchLocation" name="searchLocation">
            <option value="aula">Aula</option>
            <option value="laboratorio">Laboratorio</option>
          </select>

          <button type="submit" class="btn btn-primary">Buscar alumno</button>
        </div>
      </form>
    </div>
  </div>

 {% if usuario %}
    <img id="myImage" src="static/image/test.jpg" alt="Description of image">
    <h1>Detalles del Usuario</h1>
    <p>Código de Alumno: {{ usuario.codigo_alumno }}</p>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Ciclo Actual: {{ usuario.ciclo_academico }}</p>
    <p>Fecha de ingreso: {{ usuario.fecha_ingreso }}</p>

    {% if ubicacion == "aula" %}
        <h1>Asistencia de Aula</h1>
        {% if asistencia_aula %}
            <p>Fecha de registro: {{ asistencia_aula.fecha }}</p>
            <p>Hora de registro: {{ asistencia_aula.hora }}</p>
        {% else %}
            <p>No se encontraron registros de asistencia de aula.</p>
        {% endif %}
    {% elif ubicacion == "laboratorio" %}
        <h1>Asistencia de Laboratorio</h1>
        {% if asistencia_laboratorio %}
            <p>Número de Cubículo: {{ asistencia_laboratorio.numero_cubiculo }}</p>
            <p>Fecha de registro: {{ asistencia_laboratorio.fecha }}</p>
            <p>Hora de registro: {{ asistencia_laboratorio.hora }}</p>
        {% else %}
            <p>No se encontraron registros de asistencia de laboratorio.</p>
        {% endif %}
    {% endif %}

    <h1>Datos del Sistema</h1>
    {% for registro in registro_rostro %}
        <p>Fecha de registro de rostro: {{ registro.fecha_registro }}</p>
    {% endfor %}
{% else %}
    <p>No se encontraron resultados.</p>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/resultado_busqueda.js"></script> <!-- Asegúrate de reemplazar "tu_archivo.js" con la ruta correcta a tu archivo JavaScript -->
</body>
</html>
